<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/templates/default.xhtml">
    <ui:define name="content">
    	<h1>Contest Registration</h1>
    	<h:form id="contestReg">
    	<h2>Register Contest</h2>
    		<p:panelGrid columns="2">
    			<p:outputLabel value="Name:" for="name"/>
    			<p:inputText id="name" value="#{newContest.name}"/>
    			
    			<p:outputLabel value="Date:" for="contestDate"/>
    			<p:calendar id="contestDate" value="#{newContest.contestDate}"/>
    			
    			<p:outputLabel value="Registration From:" for="registrationFrom"/>
    			<p:calendar id="registrationFrom" value="#{newContest.registrationFrom}"/>
    			
    			<p:outputLabel value="Registration To:" for="registrationTo"/>
    			<p:calendar id="registrationTo" value="#{newContest.registrationTo}"/>
    			
    			<p:outputLabel value="Capacity:" for="capacity"/>
    			<p:inputNumber id="capacity" value="#{newContest.capacity}" decimalPlaces="0"/>
    			
    			<p:outputLabel value="Registration Allowed" for="allowRegistration"/>
    			<p:selectBooleanCheckbox id="allowRegistration" value="#{newContest.registrationAllowed}"/>
    			
    			<p:outputLabel value="Managers:" for="manager"/>
    			<p:autoComplete id="manager" dropdown="true" 
    			                completeMethod="#{contestController.eligibleManagers}"
    			                multiple="true" var="onemember" 
    			                itemLabel="#{onemember.name}" itemValue="#{onemember}" value="#{newContest.contestManagers}"
    			                converter="#{memberConverter}"/>

    			<p:outputLabel value="Preliminary Round:" for="prelim"/>
    			<p:autoComplete id="prelim" dropdown="true"
    							completeMethod="#{contestController.availableContests}"
    							multiple="true" var="onecontest" 
    							itemLabel="#{onecontest.name}" itemValue="#{onecontest}" 
    							converter="#{contestConverter}" value="#{newContest.preliminaryRounds}"
    							/>
    			
    			<p:messages styleClass="messages" errorClass="invalid"
                        infoClass="valid" warnClass="warning" globalOnly="true" />
    		</p:panelGrid>
    		<p>
	    		<p:commandButton styleClass="yellow" value="Register Contest" action="#{contestController.saveContest}" ajax="true" update="@form, :contestForm"/>
    		</p>
    	</h:form>
    	
    	<h2>
    		Contests :) :p
    	</h2>
    	<h:form id="contestForm">
    	<p:dataTable id="dtable" var="_contest" value="#{contests}" rendered="#{not empty contests}">
    	
    	<f:facet name="header">
    		Contests
    	</f:facet>
    	
    	<p:column headerText="Name">
    		#{_contest.name}
    	</p:column>
    	
    	<p:column headerText="Attending Teams">
    		#{_contest.teams.size()}
    	</p:column>
    	
    	<p:column headerText="Capacity">
    		#{_contest.capacity}
    	</p:column>
    	
    	<p:column headerText="Teams List">
    		<p:dataList var="_team" value="#{_contest.teams}" type="ordered" paginator="true" rows="5">
    			#{_team.name}
    		</p:dataList>
    	</p:column>
    	
    	<p:column headerText="Details">
    		<p:button outcome="contestDetail.xhtml" value="Details" rendered="#{contestController.isEditable(_contest)}">
    			<f:param name="contest_id" value="#{_contest.id}"/>
    		</p:button>
    	</p:column>
    	
    	</p:dataTable>
    	</h:form>
    	
    			<p>
			<a href="register.xhtml">Register a Team?</a>
		</p>
		<p>
			<a href="index.xhtml">Register a Member?</a>
		</p>
    </ui:define>
</ui:composition>