<?xml version="1.0" encoding="UTF-8"?>
<!--
    JBoss, Home of Professional Open Source
    Copyright 2015, Red Hat, Inc. and/or its affiliates, and individual
    contributors by the @authors tag. See the copyright.txt in the
    distribution for a full listing of individual contributors.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/default.xhtml">
	<ui:define name="content">

		<!-- Script to handle ajax editing -->

		<h1>Welcome to pink registration service</h1>

		<h:form id="reg">
			<h2>Member Registration</h2>
			<p>Enforces annotation-based constraints defined on the model
				class.</p>
			<p:panelGrid columns="3" columnClasses="titleCell">
				<p:outputLabel for="name" value="Name:" />
				<p:inputText id="name" value="#{newMember.name}" />
				<p:message for="name" errorClass="invalid" />

				<p:outputLabel for="email" value="Email:" />
				<p:inputText id="email" value="#{newMember.email}" />
				<p:message for="email" errorClass="invalid" />

				<p:outputLabel for="phoneNumber" value="Phone #:" />
				<p:inputText id="phoneNumber" value="#{newMember.phoneNumber}" />
				<p:message for="phoneNumber" errorClass="invalid" />

				<p:outputLabel for="bod" value="Birthdate: "/>
				<p:calendar id="bod" value="#{newMember.birthDate}"/>
				<p:message for="bod" errorClass="invalid"/>
			</p:panelGrid>

			<p>
				<p:panelGrid columns="1">
					<p:commandButton id="register" styleClass="yellow register"
						action="#{memberController.saveMember}" value="#{empty newMember.id ? 'Register' : 'Submit edit'}"
						 ajax="true" 
						update="@form,:memberForm" />
					<p:commandButton id="cancelEdit" styleClass="yellow register" 
					    rendered="#{not empty newMember.id}"
                        action="#{memberController.initNewMember}" value="Cancel"
                        update="@form, :memberForm"
                        immediate="true">
                        <p:resetInput target="@form"/>
                    </p:commandButton>
					<p:messages styleClass="messages" errorClass="invalid"
						infoClass="valid" warnClass="warning" globalOnly="true" />
				</p:panelGrid>
			</p>
		</h:form>
		<h2>Members</h2>
		<h:panelGroup rendered="#{empty members}">
			<em>No registered members.</em>
		</h:panelGroup>
		<h:form id="memberForm">
			<p:dataTable id="dtable" var="_member" value="#{members}"
				rendered="#{not empty members}">

				<f:facet name="header">
            	List of Members
            </f:facet>
				<p:column headerText="Id">


					<p class="idField">#{_member.id}</p>
				</p:column>
				<p:column headerText="Name">

					<p>#{_member.name}</p>
				</p:column>
				<p:column headerText="Email">

					<p>#{_member.email}</p>
				</p:column>
				<p:column headerText="Phone #">

					<p>#{_member.phoneNumber}</p>
				</p:column>
				<p:column headerText="REST URL">
					<a href="#{request.contextPath}/rest/members/#{_member.id}">/rest/members/#{_member.id}</a>
				</p:column>
				<p:column headerText="DELETE">

					<p:commandButton id="delete" styleClass="yellow"
					    rendered="#{empty newMember.id}"
						action="#{memberController.unregister(_member)}" value="Del"
						ajax="true" update="@form" />


				</p:column>
				<p:column headerText="EDIT">
					<p:commandButton id="edit" styleClass="yellow"
						action="#{memberController.setNewMember(_member)}" value="Edit"
						ajax="true" update="@form,:reg" />
				</p:column>

				<f:facet name="footer">
            REST URL for all members: <a
						href="#{request.contextPath}/rest/members">/rest/members</a>

				</f:facet>
			</p:dataTable>
		</h:form>
		<p>
			<a href="register.xhtml">Register a Team?</a>
		</p>
		<p>
			<a href="contestRegistration.xhtml">Register a Contest?</a>
		</p>
	</ui:define>
</ui:composition>
